  <ng-content select="img"></ng-content>
  <section>
    <ng-container *ngFor="let item of list">
      <ng-template [ngTemplateOutlet]="rowTemplate || defaultRowTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
    </ng-container>
    <!-- <app-list-item
      *ngFor="let item of list"
      [id]="item.id"
      (delete)="onDelete($event)"
    >  -->
    <!-- <ng-container *ngTemplateOutlet="row | defaultRowTemplate; context: { $implicit: item}"></ng-container> -->
    <ng-template #defaultRowTemplate let-row>
      <p>{{ row.name }}</p>
    </ng-template>

  </section>

  <button
    class="border border-blue-500 bg-blue-300 p-2 rounded-sm"
    (click)="addNewItem()"
  >
    Add
  </button>
